<section class="featured ">
  <div class="container">
    <br />
      <h2 style="font-style:italic; font-family:'OpenSans'; color: #68A4C4; font-weight: 100 "> Create/Register Your Shipments </h2>
      <hr />

    </div>
    <div class="container"
    <div class="col-lg-12">
      <div class="row-fluid">
        <%= render "form" %>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</section>
